<div class="center">
<div class="jumbotron">
<h1>This is the Homepage</h1>
</div>
<p>Find me in app/views/pages/home.html.erb</p>

<p>I made it. And it is mine. I will call it my squishy.</p>

<h1>Welcome to my app!</h1>
<p><%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p>

<%= link_to "About", about_path %> page here.
</div>